<h1>Rate a movie</h1>
<form action="/create-movie" method="post">
	<div>Title:  <input type="text" name="title" required></div>
	<div>Year:  <input type="number" name="year" required></div>
    <div>Rating: <input type="number"   name="rating"></div>
	<div><input type="submit" value="Create!"></div>
</form>
