<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MOVIEEES!</title>
	</head>
	<body>
		<h1>This is the Movies site</h1>
        <ul>
            <li><a href="/">Start</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create-user">Sign up!</a></li>
            <li><a href="/log-user">Sign in!</a></li>
        </ul>
		<hr>
        {{#if errMessage}}
            <h1>{{this}}</h1>
        {{/if}}
		{{{body}}}
	</body>
</html>
