<h1>Sign In</h1>
{{#if error}}
    <h2>{{error}}</h2>
{{/if}}
<form action="/log-user" method="post">
	<div>Username:  <input type="text" name="username" required></div>
	<div>Password:  <input type="password" name="pass" required></div>
	<div><input type="submit" value="Sign in!"></div>
</form>
