<h1>Welcome to your account</h1>
<div>
    <div>
    <form action="/get_foaf" method="post">
        <input type="submit" value="Create a foaf profile">
    </form>
    </div>
    <ul>
        <li><a href="/my_movies">My Movies</a></li>
        <li><a href="/my_account">My account</a></li>
        <li><a href="/my_friends">My Friends</a></li>
    </ul>
</div>